<div>
	<h2>Nicks</h2>
	<code>previous nicks</code>
	<p><button class="btn btn-sm btn-secondary" ng-click="generateNickname()">Generate kalafior name</button></p>
	<p><button class="btn btn-sm btn-secondary" ng-click="generateDemonicNickname()">Generate demonic name</button></p>
	<div>
        <button 
        class="btn btn-sm btn-primary"
		data-value="{{ nick }}"
        data-ng-repeat="nick in usedNicks" ng-click="changeNick(nick)">{{nick}}</button>
        <span ng-if="!usedNicks.length">No nicks used so far</span>
    </div>
</div>